    .select{
        width: 225px;
        height:50px;
        position: relative;
    &__chosen{
        font-size: large;
        color:rgb(255, 255, 255) !important;
        border:1px solid blueviolet;
        text-shadow: 1px 1px blueviolet;
        background-color: black;
        padding:12px;
        display:flex;
        justify-content: space-between;
        cursor:pointer;
    }
    &__arrow{
        transform: rotate(0.25turn)scale(1.5 ,2.35);
        text-shadow: 2px 0px blueviolet;
        color:white;
    }
    &__menu{
        transform:translate(0, -50%) scale(1, 0.0001);
        transition:.5s;
        height: 300px;
        position: relative;
        overflow-y: scroll;
        &::-webkit-scrollbar-thumb {
            background-color: blueviolet;
            border-radius: 25px;
        }
        &::-webkit-scrollbar {
            width: 8px;
            height: 10px;
            background-color: black;
        }
        &--opened{
            transform: scale(1, 1);
            transition:.5s;
            height: 300px;
            position: relative;
            overflow-y: scroll;
            &::-webkit-scrollbar-thumb {
                background-color: blueviolet;
                border-radius: 25px;
            }
            &::-webkit-scrollbar {
                width: 8px;
                height: 10px;
                background-color: black;
            }
        }
    }
    &__item{
        padding:12px;
        top:0;
        position:relative;
        background-color: black;
        color: white;
        cursor:pointer;
        display:flex;
        align-items: center;
        &:hover{
            background-color: rgb(79, 79, 79);
        }
        &--checked{
            width:18px;
            height:18px;
            border-radius: 50%;
            background-color:blueviolet;
            position:absolute;
            right:10px;
            &::before{
                width:7px;
                height:2px;
                background-color: white;
                content: '';
                position:absolute;
                top:10px;
                left:3px;
                transform: rotate(45deg);
              }
              &::after{
                width:12px;
                height:2px;
                background-color: white;
                content: '';
                position:absolute;
                top:8px;
                left:5px;
                transform: rotate(120deg);
              }
        }
    }
  }
