.floating{
    position:relative;
    margin-top:20px;
    margin-left: 20px;
    label{
        position:absolute;
        left: 4px;
        top:2px;
        z-index: 2;
        transition: .15s;
        &:focus-within{
            position:absolute;
            top:-25px;
            left:0;
            z-index: 2;
            background-color: rgba(255, 255, 255, 0.516);
            border-radius: 25px;
            padding: 0 10px;
            transition: .15s;
        }
    }
    input{
        position: absolute;
        left:0;
        top:0;
        border:none;
        height:30px;
        &:focus{
            box-shadow:none;
            outline: none;
            border-bottom: 3px solid blueviolet;
        }
        &:focus + label,
        &:not(:placeholder-shown) + label {
            position:absolute;
            top:-25px;
            left:0;
            z-index: 2;
            background-color: rgba(137, 43, 226, 0.548);
            color:white;
            border-radius: 25px;
            padding: 0 10px;
            transition: .15s;
        }
        &:not(:placeholder-shown){
            border-bottom: 3px solid blueviolet;
        }
        &::placeholder{
            color: transparent;
        }
    }
}